In [1]:
#import the necessary libs

from pyspark.sql import SparkSession
import getpass

username=getpass.getuser()
spark=SparkSession. \
    builder. \
    config('spark.ui.port','0'). \
    config("spark.suffle.useOldFetchProtocol",'true'). \
    config("spark.dql.warehouse.dir",f"/user/{username}/warehouse"). \
    enableHiveSupport(). \
    master('yarn'). \
    getOrCreate()

In [2]:
loans_raw_df=spark.read \
    .format("csv") \
    .option("inferSchema", "True") \
    .option("header", "True") \
    .load("/user/itv014478/lendingclubproject/raw/loans_data_csv")

In [3]:
loans_raw_df.show()

+--------+--------------------+---------+-----------+---------+--------+-----------+--------+-----------+------------------+--------------------+
| loan_id|           member_id|loan_amnt|funded_amnt|     term|int_rate|installment| issue_d|loan_status|           purpose|               title|
+--------+--------------------+---------+-----------+---------+--------+-----------+--------+-----------+------------------+--------------------+
|68407277|6d5091b3fcaaeb4ea...|   3600.0|     3600.0|36 months|   13.99|     123.03|Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|68355089|b5e7938b0a2da4cea...|  24700.0|    24700.0|36 months|   11.99|     820.28|Dec-2015| Fully Paid|    small_business|            Business|
|68341763|91060b858433e8a61...|  20000.0|    20000.0|60 months|   10.78|     432.66|Dec-2015| Fully Paid|  home_improvement|                null|
|66310712|cab1fa9f533688b0a...|  35000.0|    35000.0|60 months|   14.85|      829.9|Dec-2015|    Current|debt_consolidation|  Debt consolidation|
|68476807|f74e401c1ab0adf78...|  10400.0|    10400.0|60 months|   22.45|     289.91|Dec-2015| Fully Paid|    major_purchase|      Major purchase|
|68426831|8aef4bb29d609d8d6...|  11950.0|    11950.0|36 months|   13.44|     405.18|Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|68476668|538b4653da3b1e814...|  20000.0|    20000.0|36 months|    9.17|     637.58|Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|67275481|b24d55f21390533c5...|  20000.0|    20000.0|36 months|    8.49|     631.26|Dec-2015| Fully Paid|    major_purchase|      Major purchase|
|68466926|1035c5401b0ca76d0...|  10000.0|    10000.0|36 months|    6.49|     306.45|Dec-2015| Fully Paid|       credit_card|Credit card refin...|
|68616873|cb0f1777593e77909...|   8000.0|     8000.0|36 months|   11.48|     263.74|Dec-2015| Fully Paid|       credit_card|Credit card refin...|
|68356421|a962f4d59caec5fa1...|  22400.0|    22400.0|60 months|   12.88|      508.3|Dec-2015|    Current|debt_consolidation|  Debt consolidation|
|68426545|e7592ab57b3afd9f1...|  16000.0|    16000.0|60 months|   12.88|     363.07|Dec-2015|    Current|debt_consolidation|  Debt consolidation|
|68338832|603afa9d1be879b7b...|   1400.0|     1400.0|36 months|   12.88|       47.1|Dec-2015| Fully Paid|             other|                null|
|66624733|9fe2d59ddf2a4f37e...|  18000.0|    18000.0|60 months|   19.48|      471.7|Dec-2015|Charged Off|debt_consolidation|  Debt consolidation|
|68466961|23857480ccf555ce4...|  28000.0|    28000.0|36 months|    6.49|     858.05|Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|68354783|7c69d5f36fdabf6e1...|   9600.0|     9600.0|36 months|    7.49|     298.58|Dec-2015| Fully Paid|       credit_card|Credit card refin...|
|68466916|08bf9e080503b0113...|  25000.0|    25000.0|36 months|    7.49|     777.55|Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|68577849|1cafb05aa6c894c30...|  18000.0|    18000.0|60 months|   11.99|     400.31|Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
|68506798|f2c4010f700d8c9c4...|  23000.0|    23000.0|60 months|    8.49|     471.77|Dec-2015|    Current|       credit_card|Credit card refin...|
|68495092|05ad4aed7c393035e...|   8650.0|     8650.0|36 months|   19.89|     320.99|Dec-2015| Fully Paid|debt_consolidation|  Debt consolidation|
+--------+--------------------+---------+-----------+---------+--------+-----------+--------+-----------+------------------+--------------------+
only showing top 20 rows

In [4]:
loans_raw_df.printSchema()

root
 |-- loan_id: string (nullable = true)
 |-- member_id: string (nullable = true)
 |-- loan_amnt: double (nullable = true)
 |-- funded_amnt: double (nullable = true)
 |-- term: string (nullable = true)
 |-- int_rate: double (nullable = true)
 |-- installment: double (nullable = true)
 |-- issue_d: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- title: string (nullable = true)

In [5]:
loan_schema='loan_id string  ,member_id  string  ,loan_amount  float  ,funded_amount  float  ,loan_term_months  string,interest_rate  float  ,monthly_installment  float  ,issue_ddate  string  ,loan_status  string  ,loan_purpose  string  ,loan_title  string '

In [6]:
loans_raw_df=spark.read \
    .format("csv") \
    .option("inferSchema", "True") \
    .schema(loan_schema) \
    .load("/user/itv014478/lendingclubproject/raw/loans_data_csv")

In [7]:
loans_raw_df.printSchema()

root
 |-- loan_id: string (nullable = true)
 |-- member_id: string (nullable = true)
 |-- loan_amount: float (nullable = true)
 |-- funded_amount: float (nullable = true)
 |-- loan_term_months: string (nullable = true)
 |-- interest_rate: float (nullable = true)
 |-- monthly_installment: float (nullable = true)
 |-- issue_ddate: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- loan_purpose: string (nullable = true)
 |-- loan_title: string (nullable = true)

In [8]:
loans_raw_df.createOrReplaceTempView('loans')

In [9]:
spark.sql("SELECT COUNT(*) FROM loans")

+--------+
|count(1)|
+--------+
|  462495|
+--------+

In [10]:
spark.sql("SELECT * FROM loans WHERE loan_amount is null")

+--------------------+--------------------+-----------+-------------+----------------+-------------+-------------------+-----------+-----------+------------+----------+
|             loan_id|           member_id|loan_amount|funded_amount|loan_term_months|interest_rate|monthly_installment|issue_ddate|loan_status|loan_purpose|loan_title|
+--------------------+--------------------+-----------+-------------+----------------+-------------+-------------------+-----------+-----------+------------+----------+
|             loan_id|           member_id|       null|         null|            term|         null|               null|    issue_d|loan_status|     purpose|     title|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|            null|         null|               null|       null|       null|        null|      null|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|            null|         null|               null|       null|       null|        null|      null|
+--------------------+--------------------+-----------+-------------+----------------+-------------+-------------------+-----------+-----------+------------+----------+

In [11]:
col_to_check=["loan_amount",	"funded_amount"	,"loan_term_months"	,"interest_rate",	"monthly_installment",	"issue_ddate"	,"loan_status"	,"loan_purpose"	]
loans_filterd_df=loans_raw_df.na.drop(subset=col_to_check)

In [12]:
loans_filterd_df.count()

462491

In [13]:
loans_filterd_df.createOrReplaceTempView("loans")

In [14]:
from pyspark.sql.functions import regexp_replace, col

In [15]:
loan_term_modified=loans_filterd_df.withColumn("loan_term_months", (regexp_replace(col("loan_term_months")," months","") \
                                                 .cast("int")/12).cast("int")) \
.withColumnRenamed("loan_term_months","loan_term_years")

In [16]:
loan_term_modified.createOrReplaceTempView("loans")

In [17]:
spark.sql("SELECT DISTINCT(loan_purpose) FROM loans")

+------------------+
|      loan_purpose|
+------------------+
|           wedding|
|       educational|
|             other|
|    small_business|
|debt_consolidation|
|       credit_card|
|            moving|
|          vacation|
|  renewable_energy|
|             house|
|               car|
|    major_purchase|
|           medical|
|  home_improvement|
+------------------+

In [18]:
spark.sql("SELECT loan_purpose,count(*)AS total FROM loans GROUP BY loan_purpose ORDER BY total DESC")

+------------------+------+
|      loan_purpose| total|
+------------------+------+
|debt_consolidation|270942|
|       credit_card|111282|
|  home_improvement| 28448|
|             other| 22983|
|    major_purchase|  8724|
|           medical|  4615|
|               car|  4041|
|    small_business|  3835|
|            moving|  2704|
|          vacation|  2570|
|             house|  2093|
|  renewable_energy|   247|
|           wedding|     6|
|       educational|     1|
+------------------+------+

In [19]:
loan_purpose_lookup = ["debt_consolidation", "credit_card", "home_improvement", "other", "major_purchase", "medical", "small_business", "car", "vacation", "moving", "house", "wedding", "renewable_energy", "educational"]

In [20]:
from pyspark.sql.functions import when

In [22]:
loans_purpose_modified = loan_term_modified.withColumn("loan_purpose", when(col("loan_purpose").isin(loan_purpose_lookup), col("loan_purpose")).otherwise("other"))

In [23]:
loans_purpose_modified.createOrReplaceTempView("loans")

In [24]:
spark.sql("select loan_purpose, count(*) as total from loans group by loan_purpose order by total desc")

+------------------+------+
|      loan_purpose| total|
+------------------+------+
|debt_consolidation|270942|
|       credit_card|111282|
|  home_improvement| 28448|
|             other| 22983|
|    major_purchase|  8724|
|           medical|  4615|
|               car|  4041|
|    small_business|  3835|
|            moving|  2704|
|          vacation|  2570|
|             house|  2093|
|  renewable_energy|   247|
|           wedding|     6|
|       educational|     1|
+------------------+------+

In [25]:
from pyspark.sql.functions import count

In [26]:
loans_purpose_modified.groupBy("loan_purpose").agg(count("*").alias("total")).orderBy(col("total").desc())

+------------------+------+
|      loan_purpose| total|
+------------------+------+
|debt_consolidation|270942|
|       credit_card|111282|
|  home_improvement| 28448|
|             other| 22983|
|    major_purchase|  8724|
|           medical|  4615|
|               car|  4041|
|    small_business|  3835|
|            moving|  2704|
|          vacation|  2570|
|             house|  2093|
|  renewable_energy|   247|
|           wedding|     6|
|       educational|     1|
+------------------+------+

In [27]:
loans_purpose_modified.write \
.format("parquet") \
.mode("overwrite") \
.option("path", "/user/itv014478/lendingclubproject/cleaned//loans_parquet") \
.save()

In [28]:
loans_purpose_modified.write \
.format("csv") \
.mode("overwrite") \
.option("path", "/user/itv014478/lendingclubproject/cleaned/loans_csv") \
.save()