**Cleanning the customer dat**

1. create a dataframe with proper datatyes

2. Rename a few coloumn

3. Insert a new coloumn as ingestion date(current time stamp)

4. Remove complete duplicate records

5. Remove rows with annual income as null.

6. convert emp lenght to integer

7. need to replace nulls in emp_lenght with avg og the coloumn

8. clean the address_state (should be 2 chars)

9. write cleaned customers data in cleaned folder

In [1]:
#import the necessary libs

from pyspark.sql import SparkSession
import getpass

username=getpass.getuser()
spark=SparkSession. \
    builder. \
    config('spark.ui.port','0'). \
    config("spark.suffle.useOldFetchProtocol",'true'). \
    config("spark.dql.warehouse.dir",f"/user/{username}/warehouse"). \
    enableHiveSupport(). \
    master('yarn'). \
    getOrCreate()

In [2]:
customers_df=spark.read \
    .format("csv") \
    .option("inferSchema", "True") \
    .option("header", "True") \
    .load("/user/itv014478/lendingclubproject/raw/customer_data_csv")

In [3]:
customers_df.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- country: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- tot_hi_cred_lim: double (nullable = true)
 |-- application_type: string (nullable = true)
 |-- annual_inc_joint: string (nullable = true)
 |-- verification_status_joint: string (nullable = true)

**create a dataframe with proper datatyes**

In [4]:
customer_schema="member_id string,emp_title string,emp_length string,home_ownership string,annual_inc float,addr_state string,zip_code string,country string,grade string,sub_grade string,verification_status string,tot_hi_cred_lim float,application_type string,annual_inc_joint string,verification_status_joint string"

In [5]:
customers_df=spark.read \
    .format("csv") \
    .schema(customer_schema) \
    .option("header", "True") \
    .load("/user/itv014478/lendingclubproject/raw/customer_data_csv")

In [6]:
customers_df.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: float (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- country: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- tot_hi_cred_lim: float (nullable = true)
 |-- application_type: string (nullable = true)
 |-- annual_inc_joint: string (nullable = true)
 |-- verification_status_joint: string (nullable = true)

In [7]:
#Rename a few coloumn

customers_df_renamed=customers_df.withColumnRenamed("annual_inc", "annual_income") \
.withColumnRenamed("addr_state","address_state") \
.withColumnRenamed("zip_code","address_zipcode") \
.withColumnRenamed("country","address_country") \
.withColumnRenamed("tot_hi_cref_lim","total_high_credit_limit") \
.withColumnRenamed("annual_inc_joint","joint_annual_income")

In [8]:
customers_df_renamed.show()

+--------------------+--------------------+----------+--------------+-------------+----------+---------------+---------------+-----+---------+-------------------+---------------+----------------+-------------------+-------------------------+
|           member_id|           emp_title|emp_length|home_ownership|annual_income|addr_state|address_zipcode|address_country|grade|sub_grade|verification_status|tot_hi_cred_lim|application_type|joint_annual_income|verification_status_joint|
+--------------------+--------------------+----------+--------------+-------------+----------+---------------+---------------+-----+---------+-------------------+---------------+----------------+-------------------+-------------------------+
|6d5091b3fcaaeb4ea...|             leadman| 10+ years|      MORTGAGE|      55000.0|        PA|          190xx|            USA|    C|       C4|       Not Verified|       178050.0|      Individual|               null|                     null|
|b5e7938b0a2da4cea...|            Engineer| 10+ years|      MORTGAGE|      65000.0|        SD|          577xx|            USA|    C|       C1|       Not Verified|       314017.0|      Individual|               null|                     null|
|91060b858433e8a61...|        truck driver| 10+ years|      MORTGAGE|      63000.0|        IL|          605xx|            USA|    B|       B4|       Not Verified|       218418.0|       Joint App|            71000.0|             Not Verified|
|cab1fa9f533688b0a...|Information Syste...| 10+ years|      MORTGAGE|     110000.0|        NJ|          076xx|            USA|    C|       C5|    Source Verified|       381215.0|      Individual|               null|                     null|
|f74e401c1ab0adf78...| Contract Specialist|   3 years|      MORTGAGE|     104433.0|        PA|          174xx|            USA|    F|       F1|    Source Verified|       439570.0|      Individual|               null|                     null|
|8aef4bb29d609d8d6...|Veterinary Tecnician|   4 years|          RENT|      34000.0|        GA|          300xx|            USA|    C|       C3|    Source Verified|        16900.0|      Individual|               null|                     null|
|538b4653da3b1e814...|Vice President of...| 10+ years|      MORTGAGE|     180000.0|        MN|          550xx|            USA|    B|       B2|       Not Verified|       388852.0|      Individual|               null|                     null|
|b24d55f21390533c5...|         road driver| 10+ years|      MORTGAGE|      85000.0|        SC|          293xx|            USA|    B|       B1|       Not Verified|       193390.0|      Individual|               null|                     null|
|1035c5401b0ca76d0...|     SERVICE MANAGER|   6 years|          RENT|      85000.0|        PA|          160xx|            USA|    A|       A2|       Not Verified|        61099.0|      Individual|               null|                     null|
|cb0f1777593e77909...|      Vendor liaison| 10+ years|      MORTGAGE|      42000.0|        RI|          029xx|            USA|    B|       B5|       Not Verified|       256513.0|      Individual|               null|                     null|
|a962f4d59caec5fa1...|  Executive Director|   6 years|      MORTGAGE|      95000.0|        SC|          290xx|            USA|    C|       C2|       Not Verified|       436841.0|      Individual|               null|                     null|
|e7592ab57b3afd9f1...|Senior Structural...|    1 year|      MORTGAGE|      70000.0|        TX|          786xx|            USA|    C|       C2|       Not Verified|       309638.0|      Individual|               null|                     null|
|603afa9d1be879b7b...|   Logistics Manager|   3 years|      MORTGAGE|      64000.0|        NC|          275xx|            USA|    C|       C2|       Not Verified|       372109.0|      Individual|               null|                     null|
|9fe2d59ddf2a4f37e...|    Software Manager|   7 years|          RENT|     150000.0|        CA|          916xx|            USA|    E|       E2|       Not Verified|        65819.0|      Individual|               null|                     null|
|23857480ccf555ce4...|      Senior Manager| 10+ years|      MORTGAGE|      92000.0|        NC|          275xx|            USA|    A|       A2|       Not Verified|       304003.0|      Individual|               null|                     null|
|7c69d5f36fdabf6e1...|                tech|   8 years|      MORTGAGE|      60000.0|        SC|          299xx|            USA|    A|       A4|       Not Verified|        88635.0|      Individual|               null|                     null|
|08bf9e080503b0113...|       Sales Manager| 10+ years|      MORTGAGE|     109000.0|        VA|          226xx|            USA|    A|       A4|       Not Verified|       373572.0|      Individual|               null|                     null|
|1cafb05aa6c894c30...|               GS-11| 10+ years|      MORTGAGE|     112000.0|        AZ|          856xx|            USA|    C|       C1|       Not Verified|       309710.0|      Individual|               null|                     null|
|f2c4010f700d8c9c4...|             Teacher|   5 years|          RENT|      64000.0|        NY|          117xx|            USA|    B|       B1|       Not Verified|        93962.0|      Individual|               null|                     null|
|05ad4aed7c393035e...| Program Coordinator|   8 years|          RENT|      55000.0|        IN|          462xx|            USA|    E|       E3|           Verified|        38998.0|      Individual|               null|                     null|
+--------------------+--------------------+----------+--------------+-------------+----------+---------------+---------------+-----+---------+-------------------+---------------+----------------+-------------------+-------------------------+
only showing top 20 rows

In [9]:
#Insert a new coloumn as ingestion date(current time stamp)


from pyspark.sql.functions import current_timestamp
customers_df_ingested=customers_df_renamed.withColumn("ingest_date",current_timestamp())

In [10]:
customers_df_ingested.count()

462494

In [11]:
#Remove complete duplicate records
customer_df_distinct=customers_df_ingested.distinct()

In [12]:
customer_df_distinct.count()

462488

In [13]:
customer_df_distinct.createOrReplaceTempView("customers")

In [14]:
spark.sql("SELECT * FROM customers LIMIT 10")

+--------------------+--------------------+----------+--------------+-------------+----------+---------------+---------------+-----+---------+-------------------+---------------+----------------+-------------------+-------------------------+--------------------+
|           member_id|           emp_title|emp_length|home_ownership|annual_income|addr_state|address_zipcode|address_country|grade|sub_grade|verification_status|tot_hi_cred_lim|application_type|joint_annual_income|verification_status_joint|         ingest_date|
+--------------------+--------------------+----------+--------------+-------------+----------+---------------+---------------+-----+---------+-------------------+---------------+----------------+-------------------+-------------------------+--------------------+
|22f88d0d66ed192b8...|     hvac technician|   4 years|      MORTGAGE|      75000.0|        NY|          114xx|            USA|    F|       F3|       Not Verified|       344960.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|bc1333679188b4d01...|          groundsman| 10+ years|      MORTGAGE|      65000.0|        NY|          117xx|            USA|    D|       D3|       Not Verified|       253900.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|492c70174ccb1d751...|Director of Chann...|  < 1 year|      MORTGAGE|     100000.0|        IL|          601xx|            USA|    B|       B3|    Source Verified|        78247.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|beac604a26849ee8d...|                null|      null|      MORTGAGE|      60000.0|        WA|          992xx|            USA|    B|       B2|    Source Verified|       216650.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|e79ca42062bf09d31...|Senior Program Ma...|   9 years|      MORTGAGE|     120000.0|        TX|          782xx|            USA|    B|       B4|           Verified|       357732.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|79164a0efe358b229...|VP, Professional ...| 10+ years|      MORTGAGE|     650000.0|        IL|          600xx|            USA|    E|       E5|    Source Verified|      1113868.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|de08b7068add1ff00...|Route Sales Repre...|  < 1 year|      MORTGAGE|      62000.0|        OH|          432xx|            USA|    B|       B5|           Verified|       132860.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|f4722769db057038d...|           Librarian| 10+ years|          RENT|      55000.0|        NY|          112xx|            USA|    C|       C4|           Verified|        50700.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|e419f985a0dd6e922...|               Nurse|   4 years|      MORTGAGE|      40000.0|        NY|          117xx|            USA|    C|       C4|    Source Verified|       156119.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|853af07b5e9a74eb8...|  kitchen supervisor|   2 years|          RENT|      80000.0|        WI|          547xx|            USA|    C|       C1|       Not Verified|        76471.0|      Individual|               null|                     null|2024-10-22 11:04:...|
+--------------------+--------------------+----------+--------------+-------------+----------+---------------+---------------+-----+---------+-------------------+---------------+----------------+-------------------+-------------------------+--------------------+

In [15]:
#Remove rows with annual income as null.

spark.sql("SELECT COUNT(*) FROM customers WHERE annual_income is NULL")

+--------+
|count(1)|
+--------+
|       2|
+--------+

In [16]:
customer_df_filtered_income=spark.sql("SELECT * FROM customers WHERE annual_income is NOT NULL")

In [17]:
customer_df_filtered_income.createOrReplaceTempView("customers")

In [18]:
#convert emp lenght to integer

spark.sql("Select distinct(emp_length) from customers")

+----------+
|emp_length|
+----------+
|   5 years|
|   9 years|
|      null|
|    1 year|
|   2 years|
|   7 years|
|   8 years|
|   4 years|
|   6 years|
|   3 years|
| 10+ years|
|  < 1 year|
+----------+

In [19]:
from pyspark.sql.functions import regexp_replace, col

In [20]:
customer_df_emp_length_clean=customer_df_filtered_income.withColumn("emp_length", regexp_replace(col("emp_length"),"(\D)",""))

In [21]:
customer_df_emp_length_clean.show()

+--------------------+--------------------+----------+--------------+-------------+----------+---------------+---------------+-----+---------+-------------------+---------------+----------------+-------------------+-------------------------+--------------------+
|           member_id|           emp_title|emp_length|home_ownership|annual_income|addr_state|address_zipcode|address_country|grade|sub_grade|verification_status|tot_hi_cred_lim|application_type|joint_annual_income|verification_status_joint|         ingest_date|
+--------------------+--------------------+----------+--------------+-------------+----------+---------------+---------------+-----+---------+-------------------+---------------+----------------+-------------------+-------------------------+--------------------+
|8def1d73e5b3c19a7...|Speech Language P...|         2|      MORTGAGE|     75181.21|        VA|          242xx|            USA|    C|       C2|       Not Verified|       354971.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|492e3c7407579951d...|Information Assur...|         2|      MORTGAGE|      78000.0|        VA|          234xx|            USA|    C|       C3|       Not Verified|       387367.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|d8636dcdb7acfbcf7...|             Manager|         5|           OWN|     120000.0|        TX|          770xx|            USA|    A|       A2|       Not Verified|       331839.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|3dc3c30ed4c0627ed...|Infrastructure En...|         1|      MORTGAGE|     118000.0|        TX|          760xx|            USA|    A|       A1|       Not Verified|       383105.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|7afa0133724b091ab...|      Angio Tech III|         1|          RENT|      80000.0|        FL|          328xx|            USA|    B|       B2|    Source Verified|        60001.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|60f8478c32f8b12b0...|        Merchandizer|        10|          RENT|      65000.0|        CA|          910xx|            USA|    D|       D3|           Verified|        60620.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|d3b97070dd177bfd7...|          IT Manager|        10|      MORTGAGE|     165000.0|        TX|          760xx|            USA|    B|       B1|       Not Verified|       571097.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|d38a8267e4e3595ce...|        City Carrier|         8|      MORTGAGE|      57100.0|        PA|          170xx|            USA|    E|       E1|       Not Verified|        19588.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|99a63690b78fa5c32...|Human Capital Off...|        10|      MORTGAGE|     127000.0|        MD|          206xx|            USA|    C|       C3|    Source Verified|       133920.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|f8386c74c1e8029c6...|     Owner/Appraiser|        10|      MORTGAGE|      54139.0|        WI|          544xx|            USA|    C|       C3|       Not Verified|       289853.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|0524c113430bb9749...|   Financial Analyst|         1|          RENT|      91000.0|        AL|          352xx|            USA|    C|       C4|       Not Verified|       531113.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|9fa303503e1154df0...|    IT-Administrator|         7|          RENT|      50441.0|        CA|          956xx|            USA|    C|       C3|           Verified|        53387.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|0e0125f7b50a06197...|           Lead cook|         4|      MORTGAGE|      80000.0|        RI|          028xx|            USA|    C|       C3|    Source Verified|        42422.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|e1504fc20e13313fc...|   Athletic Director|         2|          RENT|      55000.0|        OH|          450xx|            USA|    B|       B3|       Not Verified|       296029.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|adb07b249f7ef2f45...|Certified Pharmac...|         9|          RENT|      28000.0|        IL|          601xx|            USA|    B|       B5|           Verified|        34693.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|1f66f56e4bc0bd055...|Food Service Manager|         1|          RENT|      54000.0|        NJ|          076xx|            USA|    B|       B3|    Source Verified|        44867.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|abf39ddb67b979630...|            Producer|         2|      MORTGAGE|      46000.0|        MI|          490xx|            USA|    A|       A3|    Source Verified|        38043.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|42960d75422500f51...|                  GM|         5|      MORTGAGE|      83000.0|        NY|          130xx|            USA|    A|       A4|    Source Verified|       274406.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|0d0e9f64a9779879f...|      security guard|         1|           OWN|      17000.0|        AZ|          857xx|            USA|    B|       B4|    Source Verified|        11849.0|      Individual|               null|                     null|2024-10-22 11:04:...|
|4183e1d6b7aef27cd...|Certified medicat...|         5|          RENT|      22000.0|        NJ|          078xx|            USA|    E|       E1|    Source Verified|        35700.0|      Individual|               null|                     null|2024-10-22 11:04:...|
+--------------------+--------------------+----------+--------------+-------------+----------+---------------+---------------+-----+---------+-------------------+---------------+----------------+-------------------+-------------------------+--------------------+
only showing top 20 rows

In [22]:
#convert emp lenght to integer

customer_df_emp_length_cast=customer_df_emp_length_clean.withColumn("emp_length",customer_df_emp_length_clean.emp_length.cast('int'))

In [23]:
customer_df_emp_length_cast.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: integer (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_income: float (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- address_zipcode: string (nullable = true)
 |-- address_country: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- tot_hi_cred_lim: float (nullable = true)
 |-- application_type: string (nullable = true)
 |-- joint_annual_income: string (nullable = true)
 |-- verification_status_joint: string (nullable = true)
 |-- ingest_date: timestamp (nullable = false)

In [24]:
customer_df_emp_length_cast.filter("emp_length is null").count()

27532

In [25]:
customer_df_emp_length_cast.createOrReplaceTempView("customers")

In [32]:
avg_emp_Length=spark.sql("SELECT FLOOR(AVG(emp_length)) AS AVG_EMP_LENGTH FROM customers").collect()

In [33]:
print(avg_emp_Length)

[Row(AVG_EMP_LENGTH=6)]

In [34]:
avg_emp_duration=avg_emp_Length[0][0]

In [35]:
customer_df_emp_length_replaced=customer_df_emp_length_cast.na.fill(avg_emp_duration,subset=['emp_length'])

In [36]:
customer_df_emp_length_replaced.filter("emp_length is null").count()

0

In [39]:
# Clean the address statewith 2 chars.
customer_df_emp_length_replaced.createOrReplaceTempView("customers")

In [44]:
spark.sql("SELECT DISTINCT(addr_state) FROM customers").count()

50

In [46]:
spark.sql("SELECT count(addr_state) FROM customers WHERE length(addr_state)>2")

+-----------------+
|count(addr_state)|
+-----------------+
|                0|
+-----------------+

In [47]:
customer_df_emp_length_replaced.write \
.format("parquet") \
.mode("overwrite") \
.option("path","/user/itv014478/lendingclubproject/cleaned/customer_data") \
.save()